.react-calendar {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.react-calendar__month-view__days__day {
  font-size: 0.6em; /* 텍스트 크기 줄이기 */
}

.react-calendar__tile {
  padding: 0.5em 0.1em; /* 셀 패딩 줄이기 */
}
